{{block "main" .}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <style type="text/css">
        table,
        tr,
        td {
            border: none;
        }
    </style>
    <title>Directory listing: {{.Title}}</title>
</head>

<body>
    <h1>Directory listing: {{.Title}}</h1>
    {{if .IsEmpty}}
    <em>Directory has no contents</em>
    {{end}}
    <table>
        <tbody>
            {{range $dir := .Directories}}
            <tr>
                <td>
                    <img src="data:image/png;base64,{{$.FolderImageBase64}}" alt="" aria-hidden="true" />
                </td>
                <td>
                    <a href="{{$dir}}">{{$dir}}</a>
                </td>
                <td></td>
            </tr>
            {{end}}
            {{range $file := .Files}}
            <tr>
                <td>
                    <img src="data:image/png;base64,{{$.FileImageBase64}}" alt="" aria-hidden="true" />
                </td>
                <td>
                    <a href="{{$file.Name}}">{{$file.Name}}</a>
                </td>
                <td>
                    <em>({{$file.Size}})</em>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>

</html>
{{end}}